.navbar {
    z-index: 2;
}

.nav-item {
    .nav-link.active {
        border-bottom: .3rem solid rgba(255,255,255,.75);
    }
}

.search input {
    background: transparent;
    background-color: #343a40;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    text-align: center;
    transition: width 2s;
    transition-timing-function: ease-in;
}
