.menu {
    .nav-link {
        // background-color: #6c757d;
        border-color: #6c757d;
        color: white;
        margin-bottom: 10px;
    }
    .nav-link.active, .nav-link:hover {
        background-color: #6c757d;
    }

    padding-top: 20px;
}