.home-screen {
    h1 {
        color: rgb(54, 53, 53);
    }
    button {
        color: white;
    }

    .home-screen__hero > .card-featured {

        .card-featured__body {
            margin-top: 32rem;
        }

        .panel-featured-card.card {
            color: black;

            height: 8rem;
            // height: 10rem;


            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
            margin-top: 0rem !important;
            margin-bottom: 0rem !important;

                // margin-bottom: 2rem !important;
            // .card-featured__body {
            //     margin-top: 20rem;
            // }

            .card-body {
                // padding-top: 0rem !important;

                // margin-bottom: 2rem !important;
            }
            .panel-featured-title {
                // border: 3px solid black;
                font-size: 2rem;
            }

            .panel-featured-body {
                
                padding-top: 2rem !important;
                border: 2px solid white;



                color: black;
                background-color: rgba($color: #000000, $alpha: 8.0);
                .card-with-icon {
                    .card {
                        max-height: 5rem;
                        // border: 1px solid white;
                        transform: scale(0.9);

                        padding-top: 0rem !important;
                        padding-bottom: 0rem !important;

                        .material-symbols-outlined {
                            margin-top: 0rem !important;
                            margin-bottom: 0rem !important;
                        }
                    }
                    .card:hover {
                        border: 3px solid white;
                        transform: scale(1.1);
                    }
                }
            }
            .panel-featured-body:hover {
                padding-top: 1rem !important;
            }


        }

        > .card {
            background-position: 50% 40%;
            background-size: cover;
            background-repeat: no-repeat;

            height: 85vh;


            margin-top: 1rem;
            
            .card-body {
                // padding-top: 43vh; //13rem;
                // max-height: 60vh; //18rem;
                overflow-y: hidden;
                transition: padding 0.3s ease-in-out;
            }
            .card-featured__inner-card  {
                max-height: fit-content;
                .card-body {
                    padding: 1rem;
                }
            }
            
        }

        .card:hover .card-body {
            overflow-y: hidden;
            padding-top: 0rem;
            .card-featured__inner-card .card-body {
                padding: 0.5rem;
            }
        }
    }

    .home-screen__hero > .card-featured:hover {
        .card-featured__body {
            margin-top: 10rem;
        }

        .panel-featured-card.card:hover .panel-featured-title {
            font-size: 1rem !important;
            padding-left: 0.5rem;
        }
    }

    .connect__title {
        text-align: center;
        justify-content: center;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        font-size: 4rem;
    }

    
}