.home-screen {
    h1 {
        color: rgb(54, 53, 53);
    }
    button {
        color: white;
    }

    .home-screen__hero > .card-featured {

        .card-featured__body {
            margin-top: 22rem;
        }
        .card-featured__inner-card {
            .card-title {
                font-weight: 400;
                // font-weight: 600;
                // display: none;
                height: 1rem;
            }
            .card-text > p {
                // display: none;
                height: 0rem;
                margin: 1rem;
                transition: height 3s ease-in;
            }
        }        

        .panel-featured-card.card {
            color: black;

            height: 8rem;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
            margin-top: 0rem !important;
            margin-bottom: 0rem !important;
            
            .panel-featured-title {
                font-size: 1.5rem;
            }

            .panel-featured-body {
                
                padding-top: 2rem !important;
                border: 2px solid white;



                color: black;
                background-color: rgba($color: #000000, $alpha: 8.0);
                .card-with-icon {
                    .card {
                        max-height: 5rem;
                        // border: 1px solid white;
                        transform: scale(0.9);

                        padding-top: 0rem !important;
                        padding-bottom: 0rem !important;

                        .material-symbols-outlined {
                            margin-top: 0rem !important;
                            margin-bottom: 0rem !important;
                        }
                    }
                    .card:hover {
                        border: 3px solid white;
                        transform: scale(1.1);
                    }
                }
            }

        }

        > .card {
            background-position: 50% 40%;
            background-size: cover;
            background-repeat: no-repeat;

            height: 60vh;
            min-height: 525px;            
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0)), url("https://yoga1290.github.io/hero.jpg");
            margin-top: 1rem;
            
            .card-body {
                // padding-top: 43vh; //13rem;
                // max-height: 60vh; //18rem;
                overflow-y: hidden;
                transition: padding 0.3s ease-in-out;
            }
            .card-featured__inner-card  {
                max-height: fit-content;
                background-color: transparent !important;
                .card-body {
                    padding: 1rem;
                }
            }
            
        }

        .card:hover .card-body {
            overflow-y: hidden;
            padding-top: 0rem;
            .card-featured__inner-card .card-body {
                padding: 0.5rem;
            }
        }
    }

    .home-screen__hero {
        background-color: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0));
        .hero-title {
            position: absolute;
            z-index: 200;
            margin-top: 1rem;
            color: white;
            left: 5rem;
            transform: translate(-10%, 25%);
        
            font-family: Space Grotesk;
            line-height: 1;
            font-size: 3.75rem;
            letter-spacing: -0.02em;
            font-weight: 300;

            .hero-title__highlight {
                color: #fdd70d !important;
                font-weight: 600;
                font-style: italic;
            }
        }
    }
    @media (min-width: 768px) {
        .home-screen__hero {
            .hero-title {
                font-size: 5rem;
                left: 7rem;
            }
        }
    }
    .home-screen__hero:hover {
        .hero-title {
            transform: translate(-50%, -15%) scale(0.4);
            transition: transform 0.3s ease-in-out;
        }
    }
    .home-screen__hero:hover > .card-featured {
        .card-featured__body {
            margin-top: 7rem;
        }

        .panel-featured-card.card:hover .panel-featured-title {
            font-size: 1rem !important;
            padding-left: 0.5rem;
        }

        .panel-featured-body {
            padding-top: 1rem !important;
        }
        .card-featured__inner-card {
            .card-title,
            .card-text > p {
                height: fit-content;
            }
        }
    }

    .connect__title {
        text-align: center;
        justify-content: center;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        font-size: 4rem;
    }

    
}