.qcard {
    color: white;
    padding: 15px;
    display: inline-block;
    .card {
        display: inline-block;

        .card-link {
            font-size: 32px;
            float: right;
            cursor: pointer;
        }

    }
}