// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css' 
body {
    background-color: #7f7f7f;
    margin-top: 50px;
}

.row {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

nav.navbar {
    width: 100%;
    position: fixed;
}