// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css' 
body {
    background-color: white;
}

.row {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

nav.navbar {
    width: 100%;
    position: fixed;
}

button.btn {
    color: black;
}
button.btn:hover {
    color: white;
    background-color: #212529;
}

.collapsible-list-view {
    button.btn {
        color: white;
        background-color: black;
    }
    button.btn:hover {
        color: black;
        background-color: white;
    }
}

.card-featured__inner-card .card-body {
    color: black;
    background-color: rgba(255,255,255, 0.8) !important;
    .card-subtitle {
        font-weight: 600;
    }
}

.card-1 {
    .card {
        background-color: transparent !important;
        .card-body {
            color: black;

            .card-subtitle {
                font-weight: 600;
            }
        }
    }

    .card:hover {
        border-color: #212529 !important;
    }
}

.card-featured > .card {
    box-shadow: 0 5px 15px rgba(0,0,0, 0.5);
}

.collapsible-list-view .card {
    background-color: #697179 !important;
}