.home-screen {
    h1 {
        color: white;;
    }

    .home-screen__hero .card-featured .card {
        background-position: 50% 60%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}