.home-screen {
    h1 {
        color: rgb(54, 53, 53);
    }
    button {
        color: white;
    }

    .home-screen__hero .card-featured .card {
        background-position: 50% 40%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}