# This is a basic workflow to help you get started with Actions

name: gp-pages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # https://github.com/actions/setup-node#usage
    - uses: actions/setup-node@v4
      with:
        node-version: '21.4.0'

#     # Runs a single command using the runners shell
#     - name: Run a one-line script
#       run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      # env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd $GITHUB_WORKSPACE
        d=$(date +%y.%m)
        v=$(git tag -l | wc -l)
        tag="$d.$v"
        npm i
        npm run build
        # ls docs || mkdir docs && touch docs/index.html
        git add docs
        git config --global user.email "yoga1290@gmail.com"
        git config --global user.name "Youssef Gamil"
        git commit -m "$tag"
        git tag $tag
        git push